{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style\index.css' %}">
    </head>
<body>
    <div class="container">
        <div class= "form-container">
            <h1>Water management and monitoring system</h1>
        </div>
    </div>

    <div class="form-element">
        <button type="submit" class="btn btn-secondary,text-white"><a href="/signin/">SignIn</a></button>
    </div>
</body>
</html>
