{% extends "authentication/base.html" %}

{% block metatags %}
<style>
    .main-svg {
/*         border: 1px solid black;
        border-radius: 5px; */
        padding: 15px;
    }
    .full-height {
        height: 30em;
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .card-text {
        font-size: 1.25rem;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-2">
        <!-- First Column: Water Information -->
        <div class="col-md-5">
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Current Purchased Water</h2>
                    <h3 class="card-text">{{ total_water_current }} Litres</h3>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Cumulative Water Consumption</h2>
                    <h3 class="card-text">{{ total_water_consumption }} Litres</h3>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Estimated Monthly Water Cost</h2>
                    <h3 class="card-text">UGX {{ estimated_monthly_cost }}</h3>
                </div>
            </div>
        </div>
        <!-- Second Column: Line Chart -->
        <div class="col-md-5 mx-2">
            <div class="card full-height">
                <div class="card-body main-svg">
                    {{ chart_html_line|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center my-2">
        <!-- Bar Chart Column -->
        <div class="col-md-5 mx-2">
            <div class="card full-height">
                <div class="card-body main-svg">
                    {{ chart_html_bar|safe }}
                </div>
            </div>
        </div>
        <!-- Pie Chart Column -->
        <div class="col-md-5">
            <div class="card full-height">
                <div class="card-body main-svg">
                    {{ chart_html_pie|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
